---
layout: default
title: Home
cover: false
about: 'about.html'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button icon-feed" href="https://mafconsultoriaetreinamento.com/">Site Institucional</a>
                
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title"><img src="https://mafconsultoriaetreinamento.com/assets/images/maf-logo.webp" alt="{{ site.name }}"></img></h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}{% endif %}
                <!-- {% if page.about %} <a href='{{page.about | relative_url}}'> About me </a> {% endif %} -->
            </h2>
            <div style="margin-top: 50px;display: flex;justify-content: center;"><a class="subscribe-button" href="https://tally.so/r/wMAGWp">eBook Crescimento Sustentável das Empresas</a></div>
            <div style="margin-top: 10px;display: flex;justify-content: center;"><a class="subscribe-button" href="https://mafconsultoriaetreinamento.com/assets/Ebook%20Desvendando%20o%20Poder%20da%20Governanc%CC%A7a%20Corporativa.pdf">eBook Os Mitos mais Comuns sobre Gestão de Riscos</a></div>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url | relative_url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="{{'/assets/images/profile.jpg' | absolute_url}}" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
