<nav class="pagination" role="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="/" title="Página Anterior">&laquo; Novas Publicações</a>
        {% else %}
            <a class="newer-posts" href="{{'/page'paginator.previous_page | relative_url}}/" title="Página Anterior">&laquo; Novas Publicações</a>
      {% endif %}
    {% endif %}
    <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>
    {% if paginator.next_page %} 
        <a class="older-posts" href="{{'/page'paginator.next_page | relative_url }}/" title="Próxima Página">Publicações Anteriores &raquo;</a>
    {% endif %} 
</nav>
